<div class="login">
   <img src="/assets/img/yacht-4.jpg" alt="image" class="login__bg">

   <form #forgotPasswordForm="ngForm" (ngSubmit)="changePasswordUsingToken(forgotPasswordForm)" class="login__form"
      autocomplete="off">
      <h1 class="login__title">Change Password</h1>

      <div >
         <div class="input-group mb-3">
            <input [(ngModel)]="newPassword" required minlength="8" validate
               (focus)="isPasswordFocus = true" (blur)="isPasswordFocus = false" #password name="password"
               (keyup)="checkRegexPatternForPassword(password)" type="password" class="form-control">
            <span class="input-group-text icons" id="basic-addon1">
               <i (click)="showOrHidePassword(password)" *ngIf="!isShowPassword" class="fa-solid fa-eye"></i>
               <i (click)="showOrHidePassword(password)" *ngIf="isShowPassword" class="fa-solid fa-eye-slash"></i>
            </span>
         </div>
         <div *ngIf="isPasswordFocus" class="psswrd-req">
            <ul class="password-ul">
               <li class="pw-error" id="minCharacter">Min 8 Character</li>
               <li class="pw-error" id="upperLetter">Upper Case</li>
               <li class="pw-error" id="lowerLetter">Lower Case</li>
            </ul>
            <ul class="password-ul">
               <li class="pw-error" id="specialLetter">Special Character</li>
               <li class="pw-error" id="numLetter">Number</li>
            </ul>
         </div>
      </div>

      <button type="submit" class="login__button">Save</button>

      <!-- <div class="login__register">
          Don't have an account? <a href="#">Register</a>
       </div> -->
   </form>
</div>